<?xml version="1.0" encoding="UTF-8"?>
<web-app version="1.0">

    <display-name>TYPO3.Neos app</display-name>
    <description>TYPO3.Neos demo app</description>

    <servlet>
        <description><![CDATA[A generic servlet that that handles static content.]]></description>
        <display-name>StaticResourceServlet</display-name>
        <servlet-name>StaticResourceServlet</servlet-name>
        <servlet-class>\TechDivision\ServletContainer\Servlets\StaticResourceServlet</servlet-class>
		
    </servlet>

    <servlet>
        <description><![CDATA[A generic servlet, customized for TYPO3.Neos, that handles static content.]]></description>
        <display-name>NeosStaticResourceServlet</display-name>
        <servlet-name>NeosStaticResourceServlet</servlet-name>
        <servlet-class>\TechDivision\ServletContainer\Servlets\Legacy\NeosStaticResourceServlet</servlet-class>
    </servlet>

    <servlet>
    
        <description><![CDATA[A TYPO3.Neos servlet that renders a template showing the current uri requested]]></description>
        <display-name>NeosServlet</display-name>
        <servlet-name>NeosServlet</servlet-name>
        <servlet-class>\TechDivision\ServletContainer\Servlets\Legacy\NeosServlet</servlet-class>
 
		<init-param>
			<param-name>flowContext</param-name>
			<param-value>Production</param-value>
		</init-param>
		<init-param>
			<param-name>flowSapiType</param-name>
			<param-value>Web</param-value>
		</init-param>
		<init-param>
			<param-name>flowRewriteUrls</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>redirectStatus</param-name>
			<param-value>200</param-value>
		</init-param>
		
    </servlet>

    <servlet-mapping>
        <servlet-name>StaticResourceServlet</servlet-name>
        <url-pattern>/favicon.ico</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>NeosServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NeosServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NeosStaticResourceServlet</servlet-name>
        <url-pattern>/_Resources/*</url-pattern>
    </servlet-mapping>

</web-app>